.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

header, footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  overflow: hidden; /* Prevent overflow */
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.sidebar {
  width: 20%;
  padding-right: 20px;
  overflow-y: auto; /* Allow scrolling if content overflows */
  box-sizing: border-box;
}

.main-content {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content within scales properly */
}

/* Make the SVG container responsive */
app-building-layout {
  display: flex;
  width: 100%;
  height: 100%;
}
